<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<div class="row">
    <nav>
        <ul class="pager">
            <li class="previous"><?php echo $this->tag->linkTo(["episode", "Regresar"]) ?></li>
        </ul>
    </nav>
</div>

<div class="page-header">
    <h1>
        Carga Realizada
    </h1>
</div>

