<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<div class="row">
    <nav>
        <ul class="pager">
            <li class="previous"><?php echo $this->tag->linkTo(["episode", "Regresar"]) ?></li>
			<li class="next"><?php echo $this->tag->linkTo(["episode/api", "Poblar BD con API"]) ?></li>
        </ul>
    </nav>
</div>

<div class="page-header">
    <h1>
        Crear Capitulo
    </h1>
</div>

<?php echo $this->getContent(); ?>

<?php
    echo $this->tag->form(
        [
            "episode/create",
            "autocomplete" => "off",
            "class" => "form-horizontal"
        ]
    );
?>

<div class="form-group">
    <label for="fieldEpisode" class="col-sm-2 control-label">Nombre</label>
    <div class="col-sm-6">
        <?php echo $this->tag->textField(["episode", "size" => 30, "class" => "form-control", "id" => "fieldEpisode"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldGender" class="col-sm-2 control-label">Genero</label>
    <div class="col-sm-6">
        <?php echo $this->tag->textField(["gender", "size" => 30, "class" => "form-control", "id" => "fieldGender"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldSpecie" class="col-sm-2 control-label">Especie</label>
    <div class="col-sm-6">
        <?php echo $this->tag->textField(["specie", "size" => 30, "class" => "form-control", "id" => "fieldSpecie"]) ?>
    </div>
</div>


<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <?php echo $this->tag->submitButton(["Guardar", "class" => "btn btn-default"]) ?>
    </div>
</div>

<?php echo $this->tag->endForm(); ?>
