<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<?php use Phalcon\Tag; ?>

<div class="row">
    <nav>
        <ul class="pager">
            <li class="previous"><?php echo $this->tag->linkTo(["episode/index", "Regresar"]); ?></li>
            <li class="next"><?php echo $this->tag->linkTo(["episode/new", "Crear Nuevo "]); ?></li>
        </ul>
    </nav>
</div>

<div class="page-header">
    <h1>Buscar Capitulo</h1>
</div>

<?php echo $this->getContent(); ?>

<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Codigo</th>
				<th>Nombre</th>
				<th>Genero</th>
				<th>Especie</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <?php foreach ($page->items as $episode): ?>
            <tr>
                <td><?php echo $episode->id ?></td>
				<td><?php echo $episode->episode ?></td>
				<td><?php echo $episode->gender ?></td>
				<td><?php echo $episode->specie ?></td>

                <td><?php echo $this->tag->linkTo(["episode/edit/" . $episode->id, "Editar"]); ?></td>
                <td><?php echo $this->tag->linkTo(["episode/delete/" . $episode->id, "Eliminar"]); ?></td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-sm-1">
        <p class="pagination" style="line-height: 1.42857;padding: 6px 12px;">
            <?php echo $page->current, "/", $page->total_pages ?>
        </p>
    </div>
    <div class="col-sm-11">
        <nav>
            <ul class="pagination">
                <li><?php echo $this->tag->linkTo("episode/search", "Primero") ?></li>
                <li><?php echo $this->tag->linkTo("episode/search?page=" . $page->before, "Previo") ?></li>
                <li><?php echo $this->tag->linkTo("episode/search?page=" . $page->next, "Siguiente") ?></li>
                <li><?php echo $this->tag->linkTo("episode/search?page=" . $page->last, "Ultimo") ?></li>
            </ul>
        </nav>
    </div>
</div>
