<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Rick And Morty</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Quicksand:400,700" rel="stylesheet" />
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link href="css/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/fonts.css" rel="stylesheet" type="text/css" media="all" />
<!-- Start datatable css -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.jqueryui.min.css">
</head>

<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">Rick and Morty</a></h1>
			<div id="menu">
				<ul>
					<li class="current_page_item"><a href="#card" accesskey="1" title="">Inicio - Tarjetas</a></li>
					<li><a href="#list" accesskey="2" title="">Lista</a></li>
					<li><?php echo $this->tag->linkTo(["episode/index", "CRUD"]) ?></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div id="page-wrapper">
	<div id="card" class="container">
		<div class="title">
			<h2>Prueba Tecnica</h2>
		</div>			
	</div>
</div>
<div id="wrapper">
	<div id="three-column" class="container">
		<div><span class="arrow-down"></span></div>
		<div class="row">
		    <?php for ($i = 0; $i < $contador; $i++) { ?>
			<div id="DataCard" class="col s12 m3">
				<div class="card">
					<div class="card-image">
						<img src="<?php echo $imageEpisode[$i] ?>">
						<span class="card-title"><strong><?php echo $episode[$i] ?></strong></span>
					</div>
					<div class="card-content aling-right">
						<p>Estatus: <?php echo $statusEpisode[$i] ?>.</p>
						<p>Género: <?php echo $genderEpisode[$i] ?>.</p>
					</div>
				</div>
			</div>
		    <?php } ?>	
		</div>
	</div>
</div>
<div id="page-wrapper">
	<div id="list" class="container">
		<div class="title">
			<h2>Lista de capitulos</h2>
		</div>			
	</div>
</div>
<div id="wrapper">
	<div class="container">
		<div class="table-responsive">
            <table id="DataTable" class="table text-center">
                <thead class="text-uppercase bg-dark">
					<tr class="text-white">
						<th>Nombre Capitulo</th>
						<th>Estatus</th>
						<th>Genero</th>
					</tr>
					</thead>
					<tbody>
					<?php for ($i = 0; $i < $contador; $i++) { ?>
					<tr>
						<td><?php echo $episode[$i] ?></td>
						<td><?php echo $statusEpisode[$i] ?></td>
						<td><?php echo $genderEpisode[$i] ?></td>
					</tr>
					<?php } ?>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div id="copyright" class="container">
	<p>All rights reserved. | Creado por <a href="https://www.linkedin.com/in/alberto-garcia-cerruto/">Alberto Garcia Cerruto</a>.</p>
		
</div>
</body>
	<!-- jQuery -->
	<script language="javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<!-- El JavaScript de DataTables -->
	<script language="javascript" type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.12/af-2.1.2/b-1.2.2/b-colvis-1.2.2/b-flash-1.2.2/b-html5-1.2.2/b-print-1.2.2/cr-1.3.2/fc-3.2.2/fh-3.1.2/kt-2.1.3/r-2.1.0/rr-1.1.2/sc-1.4.2/se-1.2.0/datatables.min.js"></script>
	<!-- El JavaScript de BootStrap -->
	<script language="javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!-- El código JavaScript -->
	<script language="javascript">
		var objetoDataTables_miembros = $('#DataTable').DataTable({
			"language": {
				"emptyTable":			"No hay datos disponibles en la tabla.",
				"info":		   		"Del _START_ al _END_ de _TOTAL_ ",
				"infoEmpty":			"Mostrando 0 registros de un total de 0.",
				"infoFiltered":			"(filtrados de un total de _MAX_ registros)",
				"infoPostFix":			"(actualizados)",
				"lengthMenu":			"Mostrar _MENU_ registros",
				"loadingRecords":		"Cargando...",
				"processing":			"Procesando...",
				"search":			"Buscar:",
				"searchPlaceholder":		"Dato para buscar",
				"zeroRecords":			"No se han encontrado coincidencias.",
				"paginate": {
					"first":			"Primera",
					"last":				"Última",
					"next":				"Siguiente",
					"previous":			"Anterior"
				},
				"aria": {
					"sortAscending":	"Ordenación ascendente",
					"sortDescending":	"Ordenación descendente"
				}
			},
		});
		$('label').addClass('form-inline');
		$('select, input[type="search"]').addClass('form-control input-sm');
	</script>
</html>


